<!-- app/views/posts/edit.html.erb -->
<div class="main posts-edit">
  <%= form_with(model: @post, local: true) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <h2 id="shinkiyuza02">編集する投稿</h2>
    <div class="my-field">
      <%= form.label :title, class: "my-label" %>
      <%= form.text_field :title, class: "post-edit-title" %>
    </div> 
    <div class="my-form">     
      <%= form.label :content, class: "my-label" %>
      <%= form.text_area :content, class: "posts-edit" %>
    </div>
    <div>
      <%= form.submit "更新する", class: "my-button" %>
    </div>
  <% end %>
</div>
