<!-- app/views/posts/edit.html.erb -->
<div class="main post-form" style="min-height: 1000px;">
  <%= form_with(model: @post, local: true, html: { class: "post-form-edit" }) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <h1>編集する投稿</h1>
    <div class="my-form">
      <%= form.label :title, class: "post-label" %>
      <%= form.text_field :title, class: "post-edit-title" %>
    </div> 
    <div class="my-form">     
      <%= form.label :content, class: "post-label" %><br />
      <%= form.text_area :content, class: "posts-edit" %>
    </div>
    <div class="button-wrapper">
      <%= form.submit "更新する", class: "btn btn-success post-button02" %>
    </div>
  <% end %>
</div>
