<!-- app/views/posts/index.html.erb -->
<div class="main posts-index">
<h2 id="shinkiyuza02">投稿一覧</h2>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <h3 class="post-title"><%= post.title %></h3> <!-- タイトルにクラスを追加 -->
        <div class="post-content"><%= safe_join(post.content.split("\n"), tag(:br)) %></div>
        <div>作成日時: <%= post.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M') %></div>
        <div>編集日時: <%= post.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M') %></div>
        <div class="button-group">
          <%= link_to '編集', edit_post_path(post), class: 'my-button' %>
          <!-- %= link_to '削除', post, data: { turbo_method: :delete, confirm: '本当に削除しますか？' }, class: 'my-button-02' % -->
        </div>
      </div>
    <% end %>
    <% flash.each do |message_type, message| %>
  <div class="<%= message_type == 'notice' ? 'my-notice-class' : 'my-alert-class' %>">
    <%= message %>
  </div>
<% end %>
  </div>
</div>
