<!-- show.html.erb -->
<div class="main posts-show">
  <h2 id="shinkiyuza02">投稿詳細</h2>
  <div class="container">
    <div class="posts-show-item">
      <h3 class="post-title"><%= @post.title %></h3>    
      <p class="post-content"><%= @post.content %></p>
      <p>作成日時: <%= @post.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M') %></p>
      <p>編集日時: <%= @post.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M') %></p>
      <div class="button-group">
        <%= link_to '編集', edit_post_path(@post), class: 'my-button' %>
        <%= link_to '削除', post_path(@post), method: :delete, data: { turbo_action: 'replace', confirm: '本当に削除しますか？' }, class: 'my-button-02' %>
      </div>
    </div>
  </div>
</div>
